*{
	margin: 0%;
}
.navigation{
	padding: 2%;
}
.navigation img{
	vertical-align: middle;
}
.navigation a{
	text-decoration: none;
	color: black;
	font-size: 19px;
	margin-left: 4%;
}
#signin{
	background-color: deepskyblue;
	border-radius: 25px;
	padding: 1%;
	text-align: none;
	color: white;
	margin-left: 10%;
}
.msg{
	background-color: whitesmoke;
	text-align: center;
	padding: 1%;

}
.sec1{
    padding-top: 1%;
	display: flex;
	justify-content: space-between;
	margin: 9% 0% 10% 10%;
}
.India{
	
	margin-top: 8%;
	font-size: 30px;
	font-family: 'poppin',sans-serif;

}
.recharge{
	font-size: 20px;
	font-style: normal;
	margin-bottom: 7%;
}
.Download{
	background-color: black;
	border-radius: 25px;
	text-align: center;
	color: white;
	padding: 2%;
	text-decoration: none;
	border: 1px solid black;
	margin-top: 10%;
}
.Icon i{
	margin-left: 3%;
}
.sec2{
	background-color: deepskyblue;
	font-size: 30px;
	color: white;
	font-style: poppins;
	padding: 2% 8%;
	display: flex;
	
}
